<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <!--<pattern>%-5p [%d][%mdc{mdc_userId}] %C:%L - %m %n</pattern>-->
            <pattern>%highlight(%-5level) %d{HH:mm:ss.SSS} %m %n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="stdout" />
    </root>
</configuration>